
<% if user_signed_in? %>
	<h1>You are signed in</h1>

<% else %>
	<div class="center hero-unit">
	<h1>Welcome to Treat</h1>
    <h2>
      Start saving on you daily habits towards your goals
      <a href="http://treat.io/">Treat.io</a>
    </h2>

    <%= link_to "Sign up now", new_user_registration_path, 
                                class: "btn btn-primary btn-large" %>
	</div>
<% end %>

