

<div class="center hero-unit">
    <h1>Welcome to Treat</h1>

    <h2>
      Start saving on you daily habits towards your goals
      <a href="http://treat.io/">Treat.io</a>
    </h2>

    <%= link_to "Sign up now", '#', 
                                class: "btn btn-large btn-primary" %>
</div>

