


<div class="treatio_firstpage">

	<% if user_signed_in? %>
	<h1>You are signed in</h1>


	<% else %>
		<div class="center hero-unit">
		<h1>Welcome to Treat</h1>
   		 <h2>
     	 Start saving on your daily habits towards your goals with 
     	 <a href="http://treat.io/">Treat.io</a>
    	</h2>

   	 <%= link_to "Sign up for a Beta invite", new_user_registration_path, 
                                class: "btn btn-primary btn-large" %>
		</div>
<% end %>

</div>

