

<p><h1>"Men and women wanted for hazardous journey. Low wages, bitter cold, long  hours of complete darkness. Safe return doubtful. Honour and recognition in event of success."</h1>
</p>

	<p><b>Have you ever dreamed of founding a Startup? Here is your chance. Join a great team in July that is already accepted into a prestigious <a ref="http://d2d.bonnier.com/D2D/Bonnier-Accelerator/OVERVIEW/">incubator</a>  starting this Sept 3rd. If you are an iOS or Ruby developer - and you think you have what it takes to building an amazing company, email us today...</b></p>

	<p>We are building a money saving app with a pre-payed webshop, and we are looking for talent that’s interested in joining our team on this startup joureny. Our idea has won a space at one of the best Accelerators in Sweden and we will be working on it this summer in Sweden and Poland until Spring 2014 when we move to San Francisco.
	We will test work with you here in Poland and if all goes well, we will offer you a startup salary in Sweden and payed living. We are moving the company to San francisco in early 2014 and will work for your permit to come there and continue work with us if the fit is right. Equity will be shared amongst all early stage developers.</p>
 
	<p><b>We hope you are</b>  
	<br/>
		• A backend developer that masters Ruby on Rails, webshops, php (no need for all of it, but some of it) that dreams about buidling API's and dreams in transactions. 
		<br/>
		• An iOS developer with a lean and agile sense of mind.
		</p>
		
		</br>
		<p><b>Application period open till 10th of july. Interviews in Krakow and Warsaw in July</b>
		<br/>
		<b>1.</b> Please send us a short email of who you are, what you have done so far and what you want to accomplish in life.
		<br/>
		<b>2.</b> Please mark your application “Adventurous Journey - Backend” or iOS, Android or etc if your freestyling you application.
		<br/>
		<b>3.</b> Send a one-page application to <a href="mailto:treatio@refinerylabs.com?Subject=Adventurous%20journey - Job title">treatio@refinerylabs.com</a> containing links to your github and linked to email, no novels please, as we will be meeting most of you.
		</p> 
<br/>
<p><a href="http://www.treatio.com/jobs">Read more at Treat.io/jobs</a> - Text source: <a href="http://www.coolantarctica.com/Antarctica%20fact%20file/History/Ernest%20Shackleton_Nimrod_expedition.htm">Antarctic circle Advert</a>
</p>

<br/>
<p><b>More about the project in the press:</b></p>

<p><a href="http://www.resume.se/nyheter/media/2013/06/25/bonniers-forsta-superentreprenorer/">2013.06.25 Resume, Bonniers forsta superentreprenorer</a>

<p><a href="http://d2d.bonnier.com/D2D/Bonnier-Accelerator/Entrepreneurs-2013/">2013.06.24 Bonnier, Entrepreneurs 2013, Meet the first round of Bonnier Accelerator Stars.</a>

<p><a href="http://www.dagensmedia.se/nyheter/print/dagspress/article3720164.ece">2013.06.25 Dagens Media, De är Bonniers nya talanghopp.</a>

	